@import url('./background.css');
@import url('./clock.css');
@import url('./common.css');
@import url('./quote.css');
@import url('./todolist.css');
@import url('./weather.css');
@import url('./reset.css');
